@model Serrana.Models.Combate

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Combate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Praga_Id" class="control-label"></label>
                <select asp-for="Praga_Id" class ="form-control" asp-items="ViewBag.Praga_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Agro_Id" class="control-label"></label>
                <select asp-for="Agro_Id" class ="form-control" asp-items="ViewBag.Agro_Id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
