@model Serrana.Models.Ataque

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ataque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cultura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cultura.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Praga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Praga.Estacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Cultura_Id" />
        <input type="hidden" asp-for="Praga_Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
